$logos: (
  auburn: (
    small: (
      height: 40px,
      width: 148px,
      file: auburn-logo
    ),
    large: (
      height: 76px,
      width: 285px
    )
  ),
  emerge: (
    small: (
      height: 42px,
      width: 84px,
      file: emerge-small
    ),
    home: (
      height: 314px,
      width: 50%,
      file: emerge-home
    )
  ),
  footer: (
    normal: (
      height: 90px,
      width: 176px,
      file: emerge-footer
    ),
  )
)